* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "Microsoft YaHei","\5fae\8f6f\96c5\9ed1";
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

div#header {
    width: 100%;
    height: 115px;
    background-color: #ebebeb;
    border-bottom: 5px solid #f5842b;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    div#header > div dl {
        float: right;
        letter-spacing: 1px;
        height: 30px;
    }

    div#header > div dd {
        height: 30px;
        line-height: 33px;
    }

    div#header > div dl dt {
        color: #231f20;
        font-size: 15px;
        height: 30px;
        text-align: right;
        margin-right: 10px;
    }

.contentrow {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 755px;
}

nav a {
    text-decoration: none;
    color: #050505;
    margin: 0 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

    nav a:hover {
        color: #f5842b;
    }

    nav a b {
        font-size: 25px;
        color: #acacac;
        vertical-align: top;
        margin: 0 5px;
    }

    nav a:hover b {
        color: #f5842b !important;
    }

.contentrow > nav > a {
    margin-right: 20px;
}

#left-main, #right-main {
    float: left;
    margin-top: 32px;
}

    #left-main img {
        display: block;
    }

div#footer {
    width: 100%;
    height: 100px;
    border-top: 5px solid #f5842b;
}

    div#footer p {
        font-size: 14px;
        padding-top: 30px;
        text-align: center;
        color: #666;
    }

#right-main {
    float: right;
    width: 420px;
}

    #right-main h2 {
        width: 420px;
        height: 30px;
        background-color: #ebebeb;
        line-height: 30px;
        color: #f5842b;
        font-size: 14px;
        letter-spacing: 1px;
    }

    #right-main ul {
        margin-top: 15px;
    }

        #right-main ul li {
            margin: 1px 16px 16px 0px;
            line-height: 25px;
            display: block;
        }

            #right-main ul li span {
                width: 25px;
                height: 25px;
                color: white;
                background-color: #f5842b;
                display: inline-block;
                margin-right: 15px;
                text-align: center;
                vertical-align: middle;
            }

            #right-main ul li a {
                color: #f5842b;
                cursor: pointer;
            }

.show {
    position: fixed;
    _position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    opacity: .5;
    filter: alpha(opacity=50);
    background: #000;
}

.bannershow {
    z-index: 9999;
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 0 6px #aaa;
    width:1170px;
    top:10%;
    display:none;
}