* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 14px;
    color: #333;
    font-family: "Microsoft Yahei";
}
/* 以上内容不用复制 */


.clearfix {
    *zoom: 1;
}

    .clearfix:before,
    .clearfix:after {
        display: table;
        line-height: 0;
        content: "";
    }

.sky-left-nav {
    width: 208px;
    background: #676566;
    float: left;
    position: fixed;
}

    .sky-left-nav > .sky-left-logo {
        width: 208px;
        height: 70.5px;
        background: #fff;
        padding-top: 17.5px;
    }

        .sky-left-nav > .sky-left-logo > img {
            width: 208px;
        }

    .sky-left-nav > .sky-left-box {
        width: 168px;
        background: #676566;
        padding: 0 20px 0;
        overflow: hidden;
    }

        .sky-left-nav > .sky-left-box > .sky-left-ul {
            color: #fff;
            border-bottom: 1px solid #b8b8b8;
        }

            .sky-left-nav > .sky-left-box > .sky-left-ul > li {
                margin: 17px 0;
                text-align: center;
            }

                .sky-left-nav > .sky-left-box > .sky-left-ul > li > span {
                    cursor: pointer;
                }

                .sky-left-nav > .sky-left-box > .sky-left-ul > li > .active-text {
                    color: #ef7f13;
                }

.sky-nav-index {
    font-size: 16px;
}

    .sky-nav-index > .sky-nav-tit {
        color: #ef7f13;
        display: block;
        margin: 25px 0 20px;
    }

    .sky-nav-index > .sky-nav-ul {
        overflow: hidden;
        border-bottom: 1px solid #b8b8b8;
    }

        .sky-nav-index > .sky-nav-ul > li {
            float: left;
            margin-bottom: 22px;
        }

            .sky-nav-index > .sky-nav-ul > li > a {
                text-decoration: none;
                color: #fff;
            }

            .sky-nav-index > .sky-nav-ul > li:nth-child(2),
            .sky-nav-index > .sky-nav-ul > li:nth-child(5),
            .sky-nav-index > .sky-nav-ul > li:nth-child(8),
            .sky-nav-index > .sky-nav-ul > li:nth-child(11) {
                margin: 0 30px;
            }

            .sky-nav-index > .sky-nav-ul > li:hover > a {
                color: #ef7f13;
            }

.text-col {
    color: #dbd9d9;
}

.sky-share {
    overflow: hidden;
    margin-top: 19px;
}

    .sky-share li {
        overflow: hidden;
        margin-bottom: 15px;
    }

        .sky-share li .ky-share-box {
            overflow: hidden;
            float: left;
        }

            .sky-share li .ky-share-box > .sky-share-tit {
                float: left;
                padding-top: 5px;
                margin-right: 2px;
            }

            .sky-share li .ky-share-box > i {
                float: left;
                display: block;
                width: 31px;
                height: 27px;
            }

.sky-share-img-a {
    background: url(image/tianweiwang_03.png) -5px 0 no-repeat;
}

.sky-share-img-b {
    background: url(image/tianweiwang_03.png) -38px 0 no-repeat;
}

.sky-share-img-c {
    background: url(image/tianweiwang_03.png) -72px 0 no-repeat;
}

.sky-share-img-d {
    background: url(image/tianweiwang_03.png) -106px 0 no-repeat;
}


.sky-phone {
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #b8b8b8;
}
.sky-phone > .sky-phone-left {
    width: 107px;
    overflow: hidden;
    float: left;
}

    .sky-phone > .sky-phone-right {
        float: right;

    }

        .sky-phone > .sky-phone-right > img {
            width: 60px;
        }

.sky-video {
    overflow: hidden;
    margin-top: 12px;
    height: 140px;
    width: 156px;
    border: 1px solid #b8b8b8;
    background: #fff;
    margin-bottom: 15px;
    padding: 5px;
}

    .sky-video > .sky-video-tit {
        color: #f07f14;
        font-size: 16px;
    }

    .sky-video > .sky-video-box {
        width: 100%;
        height: 108px;
        background: #ccc;
    }

.maindiv {
    margin: 0 auto;
    height: auto;
    padding-top: 0px;
    width: 1180px;
}

.leftdiv {
    width: 208px;
    background: #676566;
}

.rightdiv {
    margin-left: 25px;
    float: right;
    width: 80%;
}
/* css注释：为了观察效果设置宽度 边框 高度等样式 */

/* Flash Slider Show CSS */
#flash {
    width: 380px;
    height: 228px;
    margin-bottom: 9px;
    border-bottom: solid 1px #AAA;
    padding-bottom: 9px;
}

    #flash a {
        font-family: "黑体","Hei";
    }

#ad_text_zone li {
    width: 185px;
    padding: 0px 5px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    float: left;
    display: inline;
    margin: 0px;
    overflow: hidden;
}

#s_pic_news {
    width: 378px;
    height: 88px;
    border: solid 1px #AAA;
    margin: 6px 0 0 0;
}

    #s_pic_news:hover {
        border: solid 1px #F60;
        cursor: pointer;
    }

    #s_pic_news img {
        width: 130px;
        height: 78px;
        margin: 5px;
        float: left;
    }

    #s_pic_news dt {
        width: 238px;
        font-size: 14px;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        float: left;
        display: inline;
        margin-top: 5px;
        font-weight: bold;
    }

    #s_pic_news dd {
        width: 238px;
        font-size: 12px;
        height: 56px;
        line-height: 18px;
        overflow: hidden;
        float: left;
        display: inline;
        margin-top: 6px;
        color: #666;
    }

.bannerlist {
    height: 150px;
}

    .bannerlist dl {
        width: 140px;
        height: 150px;
        float: left;
        margin-top: 0px;
    }

    .bannerlist dd {
        font-size: 12px;
        float: left;
        margin-left: 0px;
        margin-top: 6px;
    }

.topbanner {
    width: 100%;
    height: 90px;
    border: 0px;
    background-image: url(image/bannernew01_03.jpg);
}

.topbannermiddle {
    width: 100%;
    border: 0px;
    margin: 20px 0;
}

.rightdivchid1 {
    width: 625px;
    float: left;
    height:auto;
}

.rightdivchid2 {
    width: 300px;
    float: right;
    margin-top: 0px;
}

.bannerlistdl2 {
    margin-left: 19px;
}

.rightdivchid2 ul {
    width: 300px;
    margin-top: 10px;
    padding-left: 0px;
}

.rightdivchid2 li {
    list-style: none;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}

.list-group-item {
    background: url(/image/newstag4_07.png) 2px 7px no-repeat;
    padding-left: 20px;
    letter-spacing: 1px;
}
.list-group-item-noimage {
    padding-left: 20px;
    letter-spacing: 1px;
}
.list-news-item {
    padding-top: 16px;
    margin-left: 3px;
    border-top: 1px solid #ccc;
    padding-bottom: 14px;
}

.news-list-mindle ul {
    width: 100%;
    margin-top: 15px;
    font-size:14px;
}

.news-list-mindle li {
    
    float: left;
    display: block;
    padding-top:5px;
    letter-spacing: 1px;
}

.span1 {
    font-size: 18px;
    border-top: 2px solid #ccc;
    margin-top:10px;
    width:105px;
}
.span2 {
    font-size: 18px;
    margin-top: 10px;
    width: 105px;
    padding-left:20px;
}

.caijin-span1 {
    
    border-top: 2px solid #ccc;
    margin-top: 10px;
    width: 105px;
}
.caijin-title-span {
    font-size: 18px;
    letter-spacing: 2px;
    height: 30px;
    border-bottom: 1px solid #b7b7b7;
}

/* 以上内容是左侧导航栏样式 */




/* 以下内容是主页部分内容 */


.caijin-span-tit{
    display: inline-block;
    text-decoration: none;
    color: #6b6b6b;
    font-size: 18px;
    padding:0 10px;
}
.active-tit-a{
    /*color: #075490 !important;*/
    position: relative;
    cursor:pointer;
}
.active-tit-a:before{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #035b99;
    position: absolute;
    top: 0px;
    left: 0;
}



.activity-right{
    float:left;
    margin-left:15px;
    width: 299px;
}

.activity-right-tit{
    display: block;
    margin:0 0 10px 15px;
}
.tab-left-double {
    overflow: hidden;
    width: 630px;
    float: left;
}
.lvyou-list-ul {
    float: left;
    margin-top: 8px;
    text-align: center;
    padding-bottom:10px
}
.shishang-list-dl {
    color: #ff96ac;
    margin-top: 8px;
    text-align: left;
}
.sky-more-style {
    width: 80px;
    float: right;
    color: white;
    text-align: right;
    padding-right: 10px;
    font-size:14px;
}
.caijin-span li {
    list-style: none;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
}


/* NEWS Channel Exchange Links */

.links {
    margin: 8px 0px;
    width: 948px;
    border: 1px solid #AAA;
    padding: 0px 0px 8px 0px;
    overflow: hidden;
}

    .links h3 {
        font: bold 12px/14px 'Î¢ÈíÑÅºÚ', ËÎÌå, Hei;
        padding: 8px 0 1px 12px;
        color: #D12026;
        display: block;
    }

    .links a {
        float: left;
        display: inline;
        width: 96px;
        margin: 8px 2px 0px 3px;
        border: 2px solid #FFF;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
    }

        .links a:hover {
            border-color: #CCC;
        }

    .links img {
        max-width: 96px;
        max-height: 30px;
        border: 0px;
    }



/* footer CSS */

#footer {
    line-height: 22px;
    text-align: center;
    padding: 15px 0 20px 0;
    font-family: "Arial";
    background: #FFF;
    width: 950px;
}

#footer .ico {
    background: url(http://www.skykiwi.com/images/common/n.gif) no-repeat 0 -340px;
    padding-left: 15px;
}

.copyright {
    font-family: Arial;
}

#part3 {
    height: 50px;
    margin: 20px 0px;
    background: #DDD;
    overflow: hidden;
}

#jumpMenu {
    height: 20px;
    margin: 0px 0px 0px 15px;
    font-size: 12px;
    width: 180px;
}
.mg15 {
    margin-top:12px;
}















































































